<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Welcome to my page </title>
  <link rel="stylesheet" type="text/css" href="myUSJ1.css">
</head>
<body style="background: url(images_myUSJ/Campus-1.jpg)">
  <div>
    <form>
        <label> <h6> Nom d'utilisateur </h6></label>
        <input type="text" placeholder="Entrez votre nom d'utilisateur">
        <label> <h6> Mot de passe </h6></label>
        <input type="password" placeholder="Mot de passe">
    </form>
  </div>
</body>
</html>